include .bumpversion.cfg
include .coverage*
include .landscape.yml
include .travis.yml
include *requirements.txt
include tox.ini
include *.md
recursive-include doc *.rst
recursive-include doc Makefile
recursive-include doc conf.py
include LICENSE

graft tests

recursive-include src

global-exclude *.py[cod] __pycache__ *.so *.dylib *~ *.bak
