include .coverage* .landscape.yml .travis.yml tox.ini
include *requirements.txt
include .bumpversion.cfg
include *.md LICENSE ChangeLog
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include docs conf.py
recursive-include src *.py
recursive-include packaging *

graft tests

global-exclude *.py[cod] __pycache__ *.so *.dylib *~ *.bak
